/* stylelint-disable max-line-length */
/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body */
.salutation-texts {
  @apply mb-32;
}

.text-home {
  @apply text-blue-200 leading-none mb-2;

  font-size: 1.5em;
}

.heading-home {
  @apply text-yellow-200 leading-none mb-2 text-lg;

  font-size: 4em;
}

.home-art-svg {
  @apply w-[705px] h-[697px];
}

.button-about-me-home {
  @apply mb-40 text-sm py-5 px-8 bg-blue-400 text-blue-200 hover:bg-blue-300;
}

@media only screen and (max-width: 1600px) {
  .text-home {
    font-size: 1.3em;
  }

  .heading-home {
    font-size: 3.5em;
  }

  .home-art-svg {
    @apply w-[605px] h-[597px];
  }
}

@media only screen and (max-width: 1536px) {
  .salutation-texts {
    @apply mb-28;
  }

  .button-about-me-home {
    @apply mb-36 py-4 px-7;

    font-size: 1.4em;
  }

  .text-home {
    font-size: 1.2em;
  }

  .heading-home {
    font-size: 3em;
  }

  .home-art-svg {
    @apply w-[555px] h-[547px];
  }
}

@media only screen and (max-width: 1280px) {
  .salutation-texts {
    @apply mb-24;
  }

  .button-about-me-home {
    @apply mb-32 py-4 px-7;

    font-size: 1.3em;
  }

  .text-home {
    font-size: 1em;
  }

  .heading-home {
    font-size: 2.5em;
  }

  .home-art-svg {
    @apply w-[505px] h-[497px];
  }
}

@media only screen and (max-width: 1024px) {
  .salutation-texts {
    @apply mb-20;
  }

  .button-about-me-home {
    @apply mb-28 py-4 px-7;

    font-size: 1.2em;
  }

  .text-home {
    font-size: 0.9em;
  }

  .heading-home {
    font-size: 2.3em;
  }

  .home-art-svg {
    @apply w-[455px] h-[447px];
  }
}

@media only screen and (max-width: 950px) {
  .salutation-texts {
    @apply mb-16;
  }

  .button-about-me-home {
    @apply mb-24 py-4 px-7;

    font-size: 1.1em;
  }

  .text-home {
    font-size: 0.8em;
  }

  .heading-home {
    font-size: 2.1em;
  }

  .home-art-svg {
    @apply w-[355px] h-[447px];
  }
}

@media only screen and (max-width: 768px) {
  .salutation-texts {
    margin-bottom: 10vh;
  }

  .button-about-me-home {
    @apply py-4 px-7;

    font-size: 1.4em;
    margin-bottom: 15vh;
  }

  .text-home {
    font-size: 1.2em;
  }

  .heading-home {
    font-size: 2.5em;
  }

  .home-art-svg {
    display: none;
  }

  .center-itens-mobile {
    @apply flex flex-col content-center;
  }

  .center-icons-mobile {
    @apply justify-center;
  }
}

@media only screen and (max-width: 600px) {
  .heading-top-page {
    @apply hidden;
  }

  .button-about-me-home {
    font-size: 1.4em;
  }

  .text-home {
    font-size: 0.9em;
  }

  .heading-home {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 390px) {
  .button-about-me-home {
    font-size: 1.2em;
  }

  .text-home {
    font-size: 0.7em;
  }

  .heading-home {
    font-size: 1.6em;
  }
}
