/* stylelint-disable max-line-length */
/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menu */
.hexagono-name {
  @apply flex gap-5 ;
}

.hexagono-top-page {
  @apply w-[51px] h-[55] items-center;
}

.heading-top-page {
  @apply text-blue-200 text-sm;
}

.home-menu {
  @apply flex justify-center items-center pt-16 mb-20 gap-60;
}

.button-menu {
  @apply p-1 px-3 rounded-[10px] font-semibold text-sm transition-colors focus:ring-2 text-blue-200 hover:bg-blue-300 hidden;
}

.button-menu-mobile {
  @apply p-1 px-3 rounded-[10px] font-semibold text-sm transition-colors focus:ring-2 text-blue-200 hover:bg-blue-300;
}

.options-menu {
  @apply flex gap-20  text-blue-200;
}

.options-menu-mobile {
  @apply fixed z-10 h-full text-yellow-200 w-9/12 top-0 p-11 bg-gradient-to-b from-blue-400 to-blue-600;

  transition: 0.9s;
}

.menu-mobile-open {
  @apply right-0;
}

.menu-mobile-close {
  @apply right-[-100%];
}

.nav-menu-mobile {
  @apply flex flex-col pt-14 pl-10 gap-5 text-md;
}

.buttons-menu-mobile {
  @apply flex gap-5 items-center p-4 rounded-[20px] focus:bg-blue-300;
}

/* Body */
.salutation-texts {
  @apply mb-32;
}

.text-home {
  @apply text-blue-200 leading-none mb-2;

  font-size: 1.5em;
}

.heading-home {
  @apply text-yellow-200 leading-none mb-2 text-lg;

  font-size: 4em;
}

.home-art-svg {
  @apply w-[705px] h-[697px];
}

.button-about-me-home {
  @apply mb-40 text-sm py-5 px-8 bg-blue-400 text-blue-200 hover:bg-blue-300;
}

@media only screen and (max-width: 1600px) {
  .text-home {
    font-size: 1.3em;
  }

  .heading-home {
    font-size: 3.5em;
  }

  .home-art-svg {
    @apply w-[605px] h-[597px];
  }
}

@media only screen and (max-width: 1536px) {
  .options-menu {
    @apply flex gap-16;
  }

  .home-menu {
    @apply gap-52;
  }

  .salutation-texts {
    @apply mb-28;
  }

  .button-about-me-home {
    @apply mb-36 py-4 px-7;

    font-size: 1.4em;
  }

  .text-home {
    font-size: 1.2em;
  }

  .heading-home {
    font-size: 3em;
  }

  .home-art-svg {
    @apply w-[555px] h-[547px];
  }
}

@media only screen and (max-width: 1280px) {
  .options-menu {
    @apply flex gap-12;
  }

  .home-menu {
    @apply gap-44;
  }

  .salutation-texts {
    @apply mb-24;
  }

  .button-about-me-home {
    @apply mb-32 py-4 px-7;

    font-size: 1.3em;
  }

  .text-home {
    font-size: 1em;
  }

  .heading-home {
    font-size: 2.5em;
  }

  .home-art-svg {
    @apply w-[505px] h-[497px];
  }
}

@media only screen and (max-width: 1024px) {
  .options-menu {
    @apply flex gap-9;
  }

  .home-menu {
    @apply gap-36;
  }

  .salutation-texts {
    @apply mb-20;
  }

  .button-about-me-home {
    @apply mb-28 py-4 px-7;

    font-size: 1.2em;
  }

  .text-home {
    font-size: 0.9em;
  }

  .heading-home {
    font-size: 2.3em;
  }

  .home-art-svg {
    @apply w-[455px] h-[447px];
  }
}

@media only screen and (max-width: 950px) {
  .options-menu {
    @apply flex gap-6;
  }

  .home-menu {
    @apply gap-28;
  }

  .salutation-texts {
    @apply mb-16;
  }

  .button-about-me-home {
    @apply mb-24 py-4 px-7;

    font-size: 1.1em;
  }

  .text-home {
    font-size: 0.8em;
  }

  .heading-home {
    font-size: 2.1em;
  }

  .home-art-svg {
    @apply w-[355px] h-[447px];
  }
}

@media only screen and (max-width: 768px) {
  .options-menu {
    @apply hidden;
  }

  .home-menu {
    @apply gap-60;
  }

  .button-menu {
    @apply block;
  }

  .salutation-texts {
    margin-bottom: 10vh;
  }

  .button-about-me-home {
    @apply py-4 px-7;

    font-size: 1.4em;
    margin-bottom: 15vh;
  }

  .text-home {
    font-size: 1.2em;
  }

  .heading-home {
    font-size: 2.5em;
  }

  .home-art-svg {
    display: none;
  }

  .center-itens-mobile {
    @apply flex flex-col content-center;
  }

  .center-icons-mobile {
    @apply justify-center;
  }
}

@media only screen and (max-width: 600px) {
  .heading-top-page {
    @apply hidden;
  }

  .options-menu-mobile {
    @apply w-full;
  }

  .button-about-me-home {
    font-size: 1.4em;
  }

  .text-home {
    font-size: 0.9em;
  }

  .heading-home {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 390px) {
  .home-menu {
    @apply gap-36;
  }

  .button-about-me-home {
    font-size: 1.2em;
  }

  .text-home {
    font-size: 0.7em;
  }

  .heading-home {
    font-size: 1.6em;
  }
}
